svg {
  background: #eee;
  margin: 100px;
  overflow: visible;
}

.buttons {
  margin-left: 150px;
}

.axis-labels {
  font: 12px sans-serif;
  
}

.title {
  text-decoration: underline;
  font: 18px sans-serif;
  font-weight: bold;
}